@import url("https://fonts.googleapis.com/css?family=Grand+Hotel");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300");

.cupcake{
	float: left;
	margin: 0 2%;
}

#row-clear{
	clear: both;
}

#row{
	text-align: center;
}

#row .image-title{
	margin-bottom: 0;
}
#row .image-title a{
	text-decoration: none;
	font-family: "Alegreya Sans", sans-serif;
	font-size: 1.25em;
	color: #eb93ae;
	font-weight: bolder;	
	font-style: none;
	
}
#row .image-title a:hover{
	color: #7baf8e;
}
#row img{
	border: 15px solid transparent;
	border-image: url(/kbwDrupal/app/sites/all/themes/kbw/images/kbw-img-border-whitebg.png) 25% round;
	margin-top: 0;
}

#row .image-categories {
	color: #7baf8e;
	text-decoration: none;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: bolder;
	font-style: italic;
}
#row .image-categories a{
	color: #7baf8e;
	text-decoration: none;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: bolder;
	font-style: italic;
}

#row .image-categories a:hover{
	color: #eb93ae;
}

taxonomy_terms_2 .title{
	display: none;
}


.tag-title{
	text-align: center;
	background-color: #fff7c0;
	font-family: "Grand Hotel", script;
	font-size: 3.5em;
	margin: 0;
	padding-top: .5%;
	font-weight: lighter;
	color: #eb93ae;
	border-bottom: 10px solid transparent;
	border-image: url(/kbwDrupal/app/sites/all/themes/kbw/images/kbw-img-border-whitebg.png) 20% round;
}
.tag-title-two{
	font-family: "Alegreya Sans", sans-serif;
	font-weight: bold;
	color: #7baf8e;
}